//----------------------------------------------------------------------------
// WordPress
//----------------------------------------------------------------------------

// caption
$wp-caption-margin: 15px;
$wp-caption-text-font-size: 15px;

// gallery
$wp-gallery-margin: 15px;

// alignment
$wp-align-margin: 15px;

// editor styles
%editorMargin {
  margin: 20px 0;
}
