body {
  background-repeat: no-repeat;

  @include grid-media($grid-lg) {
    background-repeat: no-repeat, repeat-x;
  }

  background-image: none;
}

.site-header {
  @extend .grid-container;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;

  // 衛星
  &::before {
    $satellite-width-pc: 82px;
    $satellite-height-pc: 104px;
    position: absolute;
    animation: satellite 60s linear 2s infinite;
    content: '';
    display: block;
    background-image: url(#{$img-path}satellite.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: ($satellite-width-pc / 3.4);
    height: ($satellite-height-pc / 3.4);
    left: ($satellite-width-pc * -1);
    top: ($satellite-height-pc * -2);
    z-index: 40;

    @keyframes  satellite {
      0% {
        top: 20vw;
        left: ($satellite-width-pc * -1);
      }
      50%,
      100% {
        top: ($satellite-height-pc * -2);
        left: 38%;
      }
    }

    @include grid-media($grid-sm-s) {
      width: ($satellite-width-pc / 2.8);
      height: ($satellite-height-pc / 2.8);
    }

    @include grid-media($grid-sm) {
      width: ($satellite-width-pc / 2.3);
      height: ($satellite-height-pc / 2.3);
    }

    @include grid-media($grid-md) {
      width: ($satellite-width-pc / 1.9);
      height: ($satellite-height-pc / 1.9);
    }

    @include grid-media($grid-lg) {
      width: ($satellite-width-pc / 1.4);
      height: ($satellite-height-pc / 1.4);
    }
  }

  &:after{
    @extend %hovering;
    content: "";
    position: absolute;
    display: block;
    background: url("#{$img-path}with-wapuu.svg") center center no-repeat;
    background-size: contain;
    top: 125px;
    width: 160px;
    height: 108px;
    z-index: 200;
    left: 50%;
    margin-left: 300px;
    @include wct-small-screen(960px){
      top: 45px;
      width: 100px;
      margin-left: -50px;
      height: 67px;
    }
  }
}

.site-description {
  display: none;
}

.site-title {
  position: relative;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto;
  width: 100%;

  a {
    color: transparent;
    display: block;
    font: 0/0 a;
    height: 100%;
    width: 100%;
  }

  background-image: url(#{$img-path}header-bg.svg),
                    url(#{$img-path}cloud.svg),
                    url(#{$img-path}wct2017-logo.svg),
                    url(#{$img-path}wct2017-theme.svg),
                    url(#{$img-path}wct2017-date.svg);
  background-position: 50% -100%,
                       50% 35px,
                       50% (112px * 1.5),
                       50% 290px,
                       50% 340px;
  background-size: auto, auto, (517px / 1.5), (84px / 1.5), (470px / 1.5);
  height: 647px;
  width: 1500px;
  margin: 0 calc((100vw - 1500px) / 2);
  top: 0;
  z-index: 30;

  @include grid-media($grid-sm) {
    background-position: 50% -100%,
                         50% 35px,
                         50% 112px,
                         50% 290px,
                         50% 340px;
    background-size: auto, auto, 517px, 84px, 470px;
  }

  &::before {
    content: '';
    display: block;
    height: 160px;
    width: 137px;
    background-image: url(#{$img-path}ferris-wheel.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 455px;
    bottom: 61px;
  }

  &::after {
    content: '';
    display: block;
    height: 84px;
    width: 121px;
    background-image: url(#{$img-path}kaminarimon.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 400px;
    bottom: 56px;
  }

  [class*='-en '] &,
  [class$='-en'] & {
    background-image: url(#{$img-path}header-bg.svg),
                      url(#{$img-path}cloud.svg),
                      url(#{$img-path}wct2017-logo.svg),
                      url(#{$img-path}wct2017-theme.svg),
                      url(#{$img-path}wct2017-date-en.svg);
  }
}
