#main{
  @extend .grid-container;
}

#primary{
}

// Eyecatch
.site-content{
  .wp-post-image{
    display: block;
    margin: 40px auto 0;
    width: auto;
    height: auto;
    max-width: 100%;

    .single-wcb_sponsor &,
    .single-wcb_session &{
      display: none;
    }

    & + article{
      padding-top: 40px;
    }
  }
}

.page-slug-sponsors .wcorg-sponsor-description{
  .wp-post-image{
    display: none;
  }
}


// Main content
article.hentry, article.error404 {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
  padding: 90px 0;
  max-width: 850px;

  @include wct-md-screen(){
    padding: 50px 0;
  }

  @include wct-small-screen(){
    padding: 30px 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  & + & {
    border-top: 1px solid #eee;
  }
}

.entry{
  &-header{
    margin-bottom: 30px;
    font-size: 12px;
    @include wct-small-screen(){
      margin-bottom: 30px;
    }

    a {
      text-decoration: none;
      color: #000;

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }
  }

  &-title{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.4;
    margin: 0 0 15px;
    padding: 0 0 .2em;
    border-bottom: 3px solid $h-border;
    @include wct-small-screen(){
      font-size: 20px;
      margin-bottom: 30px;
    }
  }

  &-content{
    @extend %entry-content;

    // Avoid more tag link bug
    overflow: visible;
    padding-bottom: 10px;

    input[type=text],
    input[type=email],
    input[type=password],
    input[type=url],
    textarea{
      padding: 5px;
      font-size: 16px;
    }

    .sharedaddy{
      margin-top: 60px;
    }
  }
}

footer.entry-meta{
  font-size: 14px;
  @include base-margin();

  a {
    color: #fc4381;
  }
}

#comments{
  @include base-margin;
}
