#secondary{
}


#primary-sidebar{
  display: none;
  &:after{
    content: "";
    clear: left;
    display: block;
  }
  .widget {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom: 30px;

    @include wct-small-screen(){
      width: auto;
      float: none;
    }

    img{
      max-width: 100%;
      width: auto;
      height: auto;
    }

    ul{
      padding: 0;
      li{
        list-style: none;
        margin: 0;
        padding: 0;
        a{
          display: block;
          padding: 0.9em 1em;
        }
        a:link, a:visited{
          border: 1px solid $link-color;
          color: $link-color;
        }
        a:hover, a:active{

        }
      }
    }

    &-title{
      font-family: $wct-title-sans-en;
      font-size: 18px;
      font-weight: normal;
      @include separated-title( $link-color );
    }

    &:nth-child(3n+1){
      clear: left;
    }

  }


}



#secondary-sidebar{

  @extend .grid-container;

}

.wcb_widget_sponsors{
  .widget-title{
    text-align: center;
    font-family: $wct-title-sans-en;
    font-size: 36px;
    margin-bottom: 1em;
  }
}

.widget-banners{
  @extend .clearfix;
  margin: 40px 0;
  &-item{
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    text-align: center;
  }
  &-link{
    display: block;
    transition: opacity .2s linear;
    &:hover{
      opacity: .85;
    }
    img{
      max-width: 100%;
      width: auto;
      height: auto;
    }
    &.disabled{
      position: relative;
      img{
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        filter: grayscale(100%);
      }
      &:after{
        content: "COMING SOON";
        position: absolute;
        display: inline-block;
        padding: 10px;
        color: $wct-footer-bg-hover;
        font-family: $wct-title-sans-en;
        font-size: 24px;
        text-shadow: 0 0 2px rgba(0, 0, 0, .4);
        text-align: center;
        top: 50%;
        left: 50%;
        background: rgba(255, 255, 255, .8);
        max-width: 80%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    }
  }
}

.sponsor{


  &-level{
    padding: 10px;
    &:after{
      content: "";
      display: block;
      clear: left;
    }

    &-title{
      text-align: center;
      font-family: $wct-title-sans-en;
      font-size: 20px;
      margin: 0 0 20px;
      .gold &,
      .tokyo-gold &{
        @include separated-title( #C3A400 );
      }
      .silver &,
      .tokyo-silver &{
        @include separated-title( #C0C0C0 );
      }
      .bronze &,
      .tokyo-bronze &{
        @include separated-title(#A46628);
      }
      .tokyo-green &{
        @include separated-title( #10909E );
      }
      .in-kind &,
      .tools &{
        @include separated-title( #B3DEE6 );
      }

    }

  }


  &-logo{
    display: block;
    box-sizing: border-box;
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    .gold &,
    .tokyo-gold &{
      width: 50%;
      @include wct-small-screen() {
        width: auto;
        float: none;
      }
    }
    .silver &,
    .tokyo-silver &{
      width: 33%;
      @include wct-small-screen() {
        width: auto;
        float: none;
      }
    }
    .bronze &,
    .tokyo-bronze &{
      width: 25%;
      @include wct-small-screen() {
        width: 50%;
      }
    }
    .in-kind &,
    .tokyo-green &,
    .tool &{
      width: 20%;
      @include wct-small-screen() {
        width: 33%;
      }
    }
    img{
      max-width: 100%;
      max-height: none !important;
      width: auto;
      height: auto;
    }
    &:hover{
      opacity: .8;
    }
  }

}
