.wcb_speaker,
.page-slug-speakers .wcorg-speakers {
  .entry-meta {
    display: none;
  }

  .speaker-avatar,
  .wcorg-speaker-description > img {
    float: left;
    margin-right: 20px;
    border-radius: 100%;

    img {
      border-radius: 100%;
    }
  }

  .wcorg-speaker-right {
    overflow: hidden;
  }

  .wcorg-speaker-belonging {
    margin: 0 0 .5em;
  }

  .wcorg-speaker-url {
    margin: .5em 0 0;
  }

  .wcorg-speaker-icons {
    margin: 0;
    padding: 0;
    height: 28px;
    overflow: hidden;

    li {
      float: left;
      margin-bottom: 0;
      margin-left: 10px;
      list-style-type: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .wcorg-speaker-icon {
    display: block;
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    border-radius: 50%;
    transition: .3s;

    .fa {
      position: relative;
      color: #ffffff;
      font-size: 18px;
      line-height: 1.75rem;
      top: 1px;
      left: 1px;
    }

    &--gh {
      height: auto;
      width: auto;

      .fa {
        top: 0;
        left: 0;
        font-size: 32px;
        color: #333;

        &:hover, &:active, &:focus {
          color: #4d4d4d;
        }
      }
    }

    &--tw {
      background-color: #55acee;

      &:hover, &:active, &:focus {
      	background-color: #83c3f3;
      }
    }

    &--fb {
      background-color: #3b5998;

      &:hover, &:active, &:focus {
      	background-color: #4c70ba;
      }
    }
  }

  .wcorg-speaker-info {
    clear: both;
    margin: 0;
    padding: 30px 0 0;
  }

  .speaker-sessions {
    margin: 30px 0 0;
    padding: 5px 10px;
    border-left-width: 2px;
    line-height: 1.1;
    font-size: 100%;
  }

  #speaker-session-names {
    margin: 20px 0 0 12px;
    padding: 0;

    a {
      display: block;
      text-decoration: none;
    }
  }
}
