.tix{

  &_tickets_table{
    width: 100%;
    margin-bottom: 10px !important;
    tr{
      th, td{
        border: none;
        border-bottom: 1px solid $h-border;
      }
    }
    thead{
      tr th{
        background: transparent;
        border-bottom: 3px double $h-border;
      }
    }
    .tix-row-coupon td{
      border: none;
    }
  }
  &-ticket-title{
    font-weight: normal;
  }
  &-ticket-excerpt{
    font-size: .85em;
    color: #666;
  }
  &-attendee-form{
    input[type=text],
    input[type=url],
    input[type=email]{
      @extend %text-input;
      font-size: 16px;
      width: 90%;
      max-width: 300px;
    }
  }

  &-column-price{
    tbody &{
      font-family: $wct-monospace;
      text-align: right !important;
    }
  }
  &-column-remaining{
    tbody &{
      text-align: right !important;
      font-family: $wct-monospace;
    }
  }

  &-column-quantity{
    tbody &{
      text-align: right !important;
    }
  }
  &-row-total td{
    text-align: right !important;
    font-family: $wct-monospace;
  }

}

#tix{

  p{
    text-align: center;
    input[type=submit] {
      float: none !important;
      @extend .btn;
      @extend %btn;
    }
  }

  &-coupon{
    &-container{
      input[type=submit]{
        font-size: 14px;
      }
    }
    &-input{
      .entry-content &{
        @extend %text-input;
      }
    }
  }
}

// Attendees
#tix-attendees{

ul.tix-attendee-list{
  @extend %clearfix;
  padding-left: 0 !important;
    li{
      box-sizing: border-box;
      padding: 10px;
      height: auto;
      &:nth-child(3n+1){
        clear: left;
      }
      .tix-field{
        margin: 0 0 2px;
        text-align: center;
      }
      .tix-attendee-name{
        font-size: 1.1em;
        margin-bottom: 10px;
      }
      .tix-attendee{
        &-url,
        &-twitter{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &:link, &:visited{
            text-decoration: none;
            color: #999;
          }
          &:hover, &:active{
            text-decoration: underline;
            color: $link-color;
          }
        }
      }

    }
    .avatar{
      float: none;
      width: auto;
      height: auto;
      margin: 0 auto 10px;
      display: block;
      border-radius: 50%;
    }


}
}
