.entry-content {
  .wcpt-schedule {
    font-size: .9em;
    line-height: 1.3;

    th,
    td {
      border-color: #c0c0c0;
    }

    /* 位置調整 */
    .wcpt-session-type-session,
    .wcpt-time-1230 td {
      vertical-align: top;
    }

    .wcpt-session-type-custom {
      color: #b57b2e;
    }

    .wcpt-session-type-custom .wcpt-session-title {
      line-height: 1;
      margin: 0;
    }

    th,
    .wcpt-time-0920 .wcpt-session-title {
      color: #fff;
    }

    .wcpt-col-track {
      width: 19%;
    }

    /* 時間 */
    .wcpt-time {
      background-color: #efefef;
      color: #666;
    }

    .wcpt-time-1230 .wcpt-time {
      vertical-align: bottom;
      padding-bottom: 30px;
    }

    .wcpt-time-1250 .wcpt-time {
      color: #efefef;
    }

    /* トラック */
    thead th {
      background-color: #417d90;
      border-bottom-width: 0;
      padding: .7em 0 .5em;
    }

    .wcpt-col-time {
      color: #417d90;
    }

    .wcpt-track-name {
      display: block;
      font-size: 1.2em;
      font-weight: bolder;
      line-height: 1;
    }

    .wcpt-track-description {
      line-height: 1;
      font-size: .9em;
    }

    /* セッションテーマ */
    .wcpt-time-0920,
    .wcpt-time-0920 .wcpt-time {
      background-color: #42a2ad;
    }

    .wcpt-time-0920 .wcpt-time {
      color: #42a2ad;
    }

    .wcpt-time-0920 .wcb-track-room-k .wcpt-session-title {
      padding-top: 3px;
    }

    .wcpt-time-0920 td {
      text-align: center;
      border-top-width: 0;
      padding: .5em 0;
    }

    .wcpt-time-0920 .wcb-track-room-k:after {
      content: "（同時通訳あり）";
      color: #fff;
    }

    .wcpt-time-1800 .wcb-track-room-ad:after {
      content: "（LT大会あり）";
    }

    .wcpt-time-0920 .wcb-track-room-k:after,
    .wcpt-time-1800 .wcb-track-room-ad:after {
      display: block;
      font-size: .85em;
      margin-top: 3px;
    }

    /* 休憩 */
      .wcpt-session-type-custom {
      text-align: center;
    }

    .wcpt-time-1050 .wcpt-session-type-custom,
    .wcpt-time-1130 .wcpt-session-type-custom,
    .wcpt-time-1210 .wcpt-session-type-custom,
    .wcpt-time-1310 .wcpt-session-type-custom,
    .wcpt-time-1350 .wcpt-session-type-custom,
    .wcpt-time-1430 .wcpt-session-type-custom,
    .wcpt-time-1510 .wcpt-session-type-custom,
    .wcpt-time-1550 .wcpt-session-type-custom,
    .wcpt-time-1640 .wcpt-session-type-custom {
      background-color: #fffde3;
      color: #999;
    }

    /* セッションタイトル */
    .wcpt-session-title,
    .wcpt-session-speakers {
      display: block;
      margin-bottom: 5px;
    }

    .wcpt-time-1650 .wcpt-session-type-custom,
    .wcpt-time-1740 .wcpt-session-type-custom,
    .wcpt-time-1750 .wcpt-session-type-custom,
    .wcpt-time-1800 .wcpt-session-type-custom,
    a.wcpt-session-title {
      color: #104a9c;
      text-align: left;
    }

    a.wcpt-session-title {
      text-decoration: none;
    }

    a.wcpt-session-title:hover, a.wcpt-session-title:active {
      color: #fc4482;
    }

    /* スピーカー */
    .wcpt-session-speakers {
      font-size: .9em;
      color: #1cabbf;
    }

    /* 空欄 */
    .wcpt-session-empty {
      background-color: #fff;
    }
    .wcpt-time-1000 .wcpt-session-empty,
    .wcpt-time-1010 .wcpt-session-empty,
    .wcpt-time-1440 .wcpt-session-empty,
    .wcpt-time-1650 .wcpt-session-empty,
    .wcpt-time-1740 .wcpt-session-empty,
    .wcpt-time-1750 .wcpt-session-empty,
    .wcpt-time-1800 .wcpt-session-empty {
      background-color: #f3f3f3;
    }

    .wcpt-session-empty {
      border-right-width: 0;
      border-left-width: 0;
    }

    .wcpt-session-empty:last-child {
      border-right-width: 1px;
    }

    /* 分類 */
    .wcb-track-room-m.wcpt-session-type-session,
    .wcb-track-room-k.wcpt-session-type-session,
    .wcpt-time-1230 .wcb-track-room-ad,
    .wcpt-time-1230 .wcb-track-room-ef {
      position: relative;
      padding-top: 40px;

      &::after {
        position: absolute;
        top: .9em;
        left: 1em;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 11px;
        text-align: center;
        line-height: 1;
        padding: 5px 8px 3px;
      }
    }

    /* アンカンファレンス */
    .wcb-track-room-m.wcpt-session-type-session:after {
      background-color: #00a4a9;
      content: "アンカンファレンス";
    }

    /* 同時通訳 */
    .wcb-track-room-k.wcpt-session-type-session:after {
      background-color: #bf0f0f;
      content: "同時通訳あり";
    }

    /* ランチ */
    .wcpt-time-1230 .wcb-track-room-ad:after,
    .wcpt-time-1230 .wcb-track-room-ef:after {
      content: "ランチセッション";
    }

    .wcpt-time-1230 .wcb-track-room-m:after {
      content: "ランチ";
    }

    .wcpt-time-1230 .wcb-track-room-ad:after,
    .wcpt-time-1230 .wcb-track-room-ef:after,
    .wcpt-time-1230 .wcb-track-room-m:after {
      background-color: #f59e00;
    }

    /* 懇親会 */
    .wcpt-time-1740 td:nth-child(2) {
      background: none;
    }

    /* セルの結合 */
    .wcpt-time-1100 .wcpt-session-type-session,
    .wcpt-time-1115 .wcpt-session-empty,
    .wcpt-time-1230 td,
    .wcpt-time-1650 .wcb-track-room-ad,
    .wcb-track-room-m.wcpt-session-type-session,
    .wcpt-time-1400 .wcb-track-room-ad,
    .wcpt-time-1400 .wcb-track-room-ef,
    .wcpt-time-1400 .wcb-track-room-k,
    .wcpt-time-1400 td:last-child {
      border-bottom-width: 0;
    }

    .wcpt-time-1115 .wcpt-session-empty,
    .wcpt-time-1250 .wcpt-session-empty,
    .wcpt-time-1415 .wcpt-session-empty,
    .wcpt-time-1415 .wcpt-session-empty  {
      border-right-width: 1px;
      border-left-width: 1px;
    }

    .wcpt-time-1130 .wcpt-session-empty,
    .wcpt-time-1350 td.wcpt-session-empty,
    .wcpt-time-1550 td.wcpt-session-empty {
      border-top-width: 0;
      border-bottom-width: 0;
    }

    .wcpt-time-1115 .wcpt-session-empty,
    .wcpt-time-1140 .wcpt-session-empty,
    .wcpt-time-1250 td,
    .wcpt-time-1400 .wcpt-session-empty,
    .wcpt-time-1600 .wcpt-session-empty,
    .wcpt-time-1740 td:nth-child(2),
    .wcpt-time-1415 .wcpt-session-empty,
    .wcpt-time-1415 .wcpt-session-empty {
      border-top-width: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .wcpt-schedule tr {
    border: none !important;
  }
}

@media only screen and (max-width: 700px) {
  .entry-content {
    .wcpt-schedule {
      td {
        border: 1px solid #c0c0c0
      }

      tr td:last-child {
        border-bottom-width: 1px !important;
      }

      tbody {
        tr:first-child {
          display: none;
        }
      }

      .wcpt-session-empty,
      .wcb-session-lunch-time,
      .wcb-session-preparation-of-after-party {
        display: none;
      }

      .wcpt-session-type-custom {
        text-align: left;
      }

      .wcpt-time {
        margin: 1em 0 0;
        background-color: transparent;
        border: none;
        color: #000 !important;
        font-weight: bold;
        padding: 0 0 .5em !important;
      }

      .wcpt-session-title {
        padding: 0;
      }

      .wcpt-session-speakers {
        margin: 0;
        padding: 0;

        &::before {
          display: none;
        }
      }

      .wcpt-session-type-session {
        position: relative;
        border-bottom-width: 1px !important;
        padding-top: 60px;

        &::before {
          position: absolute;
          top: -1px;
          right: -1px;
          left: -1px;
          margin: 0 !important;
          content: attr(data-track-title);
          display: block;
          background-color: #efefef;
          border: 1px solid #c0c0c0 !important;
          color: #666;
          padding: .9em 1em;
        }
      }

      .wcb-track-room-m.wcpt-session-type-session,
      .wcb-track-room-k.wcpt-session-type-session,
      .wcpt-time-1230 .wcb-track-room-ad,
      .wcpt-time-1230 .wcb-track-room-ef {
        padding-top: 90px;

        &::after {
          top: 60px;
        }
      }
    }
  }
}

/**
 * 英語ページでのタイムテーブル
 */
.en-timetable {
  @media screen and (min-width: 701px) {
    .wcpt-schedule {
      thead .wcpt-col-time {
        width: 5%;
      }
    }
  }
}
