header#musthead.hfeed.site
    hgroup
        h1.site-title
            a(href='/') WordCamp Tokyo 2016
        h2.site-description サイトのデスクリプション

    nav.site-navigation.main-navigation
        h1.assistive-text メニュー
        .assistive-text.skip-link
            a(href='#content') Skip to content



