@keyframes hovering {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 4%); }
  100% { transform: translate(0, -0px); }
}
@keyframes slideIn {
  0% { transform: translate(2000px, -800px); }
  60% { transform: translate(1950px, -780px) }
  100% { transform: translate(0, 0); }
}

//%slideIn {
//  animation-name: slideIn;
//  animation-duration: 6s;
//  animation-fill-mode: both;
//  animation-iteration-count: 1;
//}

%hovering {
  $drop-timing: 6s;
  animation-name: slideIn, hovering;
  animation-duration: $drop-timing, 3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-delay: 1s, $drop-timing + 1s;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, normal;
  animation-fill-mode: backwards, none;
  transform: translate3d(0,0,0); // To turn GPU on.
}
