$media-gap: 1em !default;

@mixin post_style() {

  // Headers
  h1, h2, h3, h4, h5, h6 {

  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  // Alignment.
  .alignright {
    float: right;
  }
  .alignleft {
    float: left;
  }
  .aligncenter {
    margin: $media-gap auto;
  }
}
