// Detect deploy mode
$env: 'development' !default;

//
//------------------------
// Path setting
//
//
$img-path: "../images/" !default;
@if($env == 'production') {
  $img-path: "//wct2018.github.io/wct2018/assets/images/";
}


//
//------------------------
// Media Queries
//
//
$breakpoint-small: 768px;
$breakpoint-wide : 1024px;
