// Detect deploy mode
$env: 'development' !default;

//
//------------------------
// Path setting
//
//
$img-path: "../images/" !default;
@if($env == 'production') {
  $img-path: "//wct2018.github.io/wct2018/assets/images/";
}


//
//------------------------
// Media Queries
//
//
$breakpoint-small: 768px;
$breakpoint-wide : 1024px;



//
//------------------------
// Sizing
//
//
$content-width: 540px;
$content-gap: 16px;

//
//------------------------
// Colors
//
//
$color-red: #B12418;
$color-red-secondary: #CC605C;
$color-blue: #3A7FE8;
$color-blue-secondary: #6EA8F7;
$color-yellow: #F5E653;
$color-yellow-secondary: #F9F090;
$color-black: #222222;
$color-black90: #2A2A2A;
$color-black80: #444444;
$color-black70: #666666;
$color-black40: #aaa;
$color-gray: #EEEEEE;
$color-white: #fff;

//
//------------------------
// Fonts
//
//
$sans: helvetica, arial, "Hiragino Kaku Gothic ProN","メイリオ", meiryo sans-serif;
$serif: '';
$base-weight: 300;
$wct-monospace: Consolas, 'Courier New', Courier, Monaco, monospace;


//
// Global Parts
//
$header-border: 4px solid $color-red;
$header-height: 74px;
$header-brand-width: 123px;

$header-gap: 15px;
$navigation-height: 44px;
$navigation-font-size: 12px;
$navigation-link-bg: $color-black80;
