.site-main {
  margin-bottom: 50px;
}

// Main content
article.hentry, article.error404 {
   margin: 0 auto;
   > :last-child {
     margin-bottom: 48px;
   }
}
.entry{
  &-header{
    background: $color-gray;
    padding-top: 26px;
    padding-bottom: 32px;
    position: relative;
    z-index: 1;
    &::after {
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 16px 14px 0 14px;
      border-color: #c10000 transparent transparent transparent;
    }
    @include mq-only-small(){
      padding-top: 24px;
      padding-bottom: 26px;
    }

    a {
      text-decoration: none;
      color: #000;

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }
  }

  &-title{
    @extend .content-box;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.333;
    margin: 0 auto 30px;
    @include mq-only-small(){
      font-size: 18px;
    }
  }

  &-content {
    @extend .content-box;
    padding-top: 32px;
    margin: 0 auto;
    // Avoid more tag link bug
    overflow: visible;
    margin-bottom: 48px;
    .more-link {
      @extend .button-primary;
      margin-top: 20px;
    }
  }
  &-meta,
  &-footer
  {
    @extend .content-box;
    margin: 0 auto;
    font-size: 12px;
    color: #777777;
    span {
      font-weight: bold;
      &:not(:last-of-type) {
        margin-right: 12px;
      }
    }
    time {
      font-weight: bold;
    }
    a {
      color: #1A7EF0;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

footer.entry-meta{
  font-size: 14px;
  a {
    color: #fc4381;
  }
}


.comments-area {
  @extend .content-box;
  margin: auto;
}

.page{
  &-header {
    padding: 32px 0 34px;
    text-align: center;
    .error-404 & {
      @extend .entry-header;
    }
  }
  &-title{
    color: $color-yellow;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 0 #555555;
    line-height: 1;
    @extend .content-box;
    margin: auto;
    @include mq-only-small() {
      text-align: left;
      font-size: 16px;
    }
  }
  &-content{
    @extend .entry-content;
  }
}